/* набор обнуляющих элементов */
html{
    box-sizing: border-box;
}

*, * ::after , *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
/* набор обнуляющих элементов */

html,body{
    height: 100%;
}

/* убрать кружочки с ul*/
ul{
    list-style: none;
}
/* убрать кружочки с ul*/

/* убрать с сылок цвет*/
a{
    text-decoration: none;
    color: inherit;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


.section--title{
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

/* меню */
.conteiner{
    max-width: 1200px;
    margin: 0 auto;/* лево право автоматически */
    padding: 0 10px;
}


body{
    font-size: 15;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 1,2;
}



.header{
    background-color: #151515;
}

.header-main{
    background-color: transparent;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
}

.header__inner{
    padding-top: 40px;
    display: flex;/* распридиление элементов  */
    justify-content: space-between;/* отодвинуть элементы в лево право */
    align-items: flex-end;/* меню на одной линии */
    padding-bottom: 45px;
}

.menu__list{
    display: flex;
    gap: 35px;
}

.menu__list-link{
    color: #fff;
    text-transform: uppercase;/* текст большими */
    font-weight: 700;
}


/* модификатор типа hover пишется в меню сайта как 
дополнительный класс */
.menu__list-link--active{
    color:#06F
}
/* меню */

/* footer */
.footer{
    background-color: #151515;
    padding: 50px 0 32px;/* внутренний отступ блока */
    color: #ffff;/* цвет всех букв */
}

.footer__menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer__menu-list{
    max-width: 250px;/* максимальная ширина блока*/
}

.footer__menu-title{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer__menu-item + .footer__menu-item{
    padding-top: 20px;
}

.app{
    display: flex;
    justify-content: center;
    gap: 40px;/* расстояние между блоками*/
    margin-bottom: 50px;
}

.footer__copy{
    max-width: 806px;
    margin: 0 auto 30px;;/* 0 верх ,бока аuto ,низ 30*/
    text-align: center;
}

.copy__nav-list{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.main{
    flex-grow: 1;

}
/* footer */

/* block1 */
.top{
    color: #fff;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 50px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;

}

.title{
    
    color: #fff;
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}

.top__link{
    background-color: #151515;
    padding: 23px;
    max-width: 430px;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}


/* слайдер затемнение */
.swiper::after{
    content: '';
    background: rgba(21,21,21, .3);
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

}
/* слайдер затемнение */

.swaper-wrapper{
    background: rgba(21,21,21, .3);
}
.swiper-slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.swiper-pagination-bullet{
    width: 120px;
    height: 3px;
    background-color: #151515;
    border-radius: 0;
    opacity: 1;

}
.swiper-pagination-bullet-active{
    height: 6px;
    background-color: #fff;

}
/* endblock1 */


/* block2 */

/* вся секция */
.why-lease{
    padding: 150px 0;

}
/* вся секция */

.why-lease__list{
    display: grid;/*  для адаптива */
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    text-align: center;
}

.why-lease__item-img{
    margin-bottom: 30px;
}
.why-lease__title{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;

}
.why-lease__item-text{
    text-align: left;
}

/* endblock2*/

/* how_does */
.how_does{
    padding-bottom: 150px;
}
.how_does__inner{
    max-width: 600px;
    margin: 0 auto;
}

.how_does__title{
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px;
} 
.how_does-list{
    padding: 50px 0 70px;
    counter-reset: myCounter;/* нумерация */
}

/* нумерация */
.how_does-item{
    list-style-type: none;
    width: 270px;
    position: relative;
    margin-left: auto;
    padding-left: 240px;
    box-sizing: content-box;
    padding: 19px 0 19px 240px;
    min-width: 63px;
}

.how_does-item + .how_does-item{
    margin-top: 40px;
}

/* нумерация */
.how_does-item::before{
    counter-increment: myCounter;
    content: counter(myCounter);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 68;
    font-weight: 700;
    background-color: #06F;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
}
/* нумерация */
/* how_does */

/* video*/
.video{
    padding-bottom: 150px;
}

.video__title{
    margin-bottom: 20px;
}

.video__text{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
    
}
.video__content{
    margin: 0 auto;
    display: block;
}
/* video*/

/*секция importent */
.importent{
    padding-bottom: 150px;
}
.importent__title{
    margin-bottom: 20px;
}
.importent__text{
    max-width: 580px;
    margin: 0 auto 50px;
}

/* распридиление картинок */
.importent__list{
    display: grid;
    grid-template-columns: repeat(4,1fr);/* распридиление картинок на 4 часити*/
}
.importent__img{
    margin-bottom: 20px;/* распридиление от картинок до  текста в низ*/
}
/*секция importent */


/*страничка контактоа */

.contacts{
    padding: 0 100px 150px;
}
.contacts__title{
    margin-bottom: 20px;
}
.contacts__text{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 50px;
    padding: 0 50px;/*чтоб текст переносился*/
}
.form{
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;/*растянули максимально в строку*/
    flex-wrap: wrap;/*чтоб могли переносился*/
}
.form__input{
    width: 270;
    padding: 18px 20px;
    display: inline-block;
    border: 1px solid #06F;
    margin-bottom: 50px;
    font-size: 15;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    color: #000;
}

.form__input::placeholder{/*обращаемся к тексту внутри input*/
    font-size: 15;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    color: #000;
    opacity: 0.5;
}


.form__textarea{
    width: 100%;
    resize: none;
    padding: 28px 20px;
    height: 290px;
    border: 1px solid #06F;
    font-size: 15;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    color: #000;
    opacity: 0.5;
    margin-bottom: 20px;
}
.form__textarea::placeholder{/*обращаемся к тексту внутри input*/
    font-size: 15;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    color: #000;
    opacity: 0.5;
}

.form__btn{
    text-transform: uppercase;
    color: #fff;
    background-color: #151515;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 13px 61px;
    margin: 0 auto;/*из за того что всему блоку задан flex*/
    
}

/*секция blog */

.blog{
    padding-bottom: 150px;
}

.blog__items{
    display: grid;/*если будут добавлятся статьи */
    grid-template-columns: repeat(2, 1fr);/* две новости*/
    gap: 40px;
    margin-bottom: 70px;
}

.blog__item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog__item-img{
    margin-bottom: 30px;
    width: 100%;
}

.blog__item-title{
    flex-basis: 446px;
    font-weight: 700;
}

.blog__item-link{
    color: #fff;
    background-color: #06F;
    padding: 4px 20px;
}
.showmore-link{
    text-transform: uppercase;
    background-color: #151515;
    padding: 13px;
    color:#fff;
    width: 225px;
    margin: 0 auto;
    text-align: center;
    display:block;/*выровнять по центру*/
}
/*секция blog */


/* страничка new-car */
.choose{
    padding: 100px 0 150px;

}
.tabs__btn{
    padding: 0 150px;
    display: flex;
    /* grid-template-columns: repeat(4,1fr); */
    justify-content: space-between;
    gap: 80px;
    padding-bottom: 100px;
}

.tabs__btn-item{
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}

/* hover */
.tabs__btn-item--active{
    color: #0066ff;
}
/* hover */

/* карточка това */
.tabs__content-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
    margin-bottom: 70px;
}
.card{
    text-align: center;
}

.card__img{/*  для того чтоб сделать блочным элем и убрать отступ */
    display: block;

}
.card__content{
    padding: 0 5px;
    border: 1px solid #0066ff;
}
.card__title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card__text{ 
    margin-bottom: 20px;
}

.card__price{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
}

.card__link{
    display: block;
    padding: 0 5px;
    color:#06F;
    border: 1px #0066ff;
}

/* карточка това */



/* страничка new-car */

